div.nav {
  background-color: rgb(46, 43, 43);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Roboto;
}
li {
  display: inline-block;
  margin: 20px;
}
.nav-title {
  margin-left: 20px;
}
a {
  text-decoration: none;
  color: white;
}
.btn {
  background-color: cornflowerblue;
  color: white;
  border: 3px black solid;
  height: 50px;
  width: 100px;
  font-size: 20px;
  box-shadow: 10px 5px 5px black;
}

.active {
  font-weight: bolder;
  font-size: larger;
}
